
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FibusAkademi.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        ViewData["Title"] = "Login";
    }
    @model LoginViewModel
    <div class="row mt-5">
        <div class="col-4 offset-4">
            <h1 class="display-4 text-center pb-2">
                <img src="~/src/fibus_logo.png" height="150" />
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-6 offset-3">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
            <form method="post">
                <div class="form-group mb-3">
                    <label asp-for="Username" class="form-label">Kullanıcı Adı</label>
                    <input asp-for="Username" class="form-control" type="text" />
                    <span asp-validation-for="Username" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label">Şifre</label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>
                <div class="form-group mb-3 d-grid">
                    <button type="submit" class="btn btn-primary d-block">
                        <i class="fa-solid fa-right-to-bracket me2"></i>
                        Giriş Yap
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastrjs/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
